
<header>
    <div id="header-sticky" class="header__area header__transparent header__padding">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-2 col-sm-4 col-6">
                    <div class="header__left d-flex">
                        <div class="logo">
                            <a href="index" rel="nofollow">
                                <img id="FGFBLogo" src="/img/logo/FGFLogoNewFont.png" alt="logo">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-10 col-sm-8 col-6">
                    <div class="header__right d-flex justify-content-end align-items-center">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a href="/index" rel="nofollow">Home</a>
                                    </li>
                                    <li>
                                        <a href="https://fan-girl-football.mn.co/sign_in">Login</a>

                                    </li>
                                    <li>
                                        <a href="https://shop.fangirlfootball.com/" target="_blank">Shop FanGirl</a>

                                    </li>
                                    <li>
                                        <a href="/Articles">Articles</a>

                                    </li>
                                    <li>
                                        <a href="/About">About</a>

                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/&#64FanGirlFootball" target="YouTube">YouTube</a>

                                    </li>
                                    <li><a href="/FantasyFootballBook">Get the Book</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu d-xl-none"></div>
                        <div class="header__btn ml-20 d-none d-sm-block">
                            <a href="https://fan-girl-football.mn.co/sign_up" class="e-btn">Join Now - FREE!</a>
                        </div>
                        <div class="sidebar__menu d-xl-none">
                            <div class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

