<footer>
    <div class="footer__area footer-bg">
        <div class="footer__top pt-30 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer__widget mb-50">
                            <div class="footer__widget-head mb-22">
                                <div class="footer__logo">
                                    <a href="/Index" rel="nofollow">
                                        <img src="~/img/logo/FGFLogoWhiteTransparent.png" alt="Fan Girl Football">
                                    </a>
                                </div>
                            </div>
                            <div class="footer__widget-body">
                                <p style="color: white;">
                                    A welcoming space for women to connect, learn fantasy football, and share their love for the game.
                                </p>

                                <div class="footer__social">
                                    <ul>
                                        <li><a href="https://www.facebook.com/profile.php?id=61560972640348" target="Facebook"><i class="social_facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/fan.girl.football/" target="Instagram" class="tw"><i class="social_instagram"></i></a></li>
                                        <li><a href="https://www.youtube.com/&#64FanGirlFootball" target="YouTube" class="pin"><i class="social_youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-2 offset-xxl-1 col-xl-2 offset-xl-1 col-lg-3 offset-lg-0 col-md-2 offset-md-1 col-sm-5 offset-sm-1">
                        <div class="footer__widget mb-50">
                            <div class="footer__widget-head mb-22">
                                <h3 class="footer__widget-title"></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-2 col-xl-2 col-lg-2 offset-lg-0 col-md-3 offset-md-1 col-sm-6">
                        <div class="footer__widget mb-50">
                            <div class="footer__widget-head mb-22">
                                <h3 class="footer__widget-title"></h3>
                            </div>
                            <div class="footer__widget-body">
                                <div class="footer__link">
                                    <a href="mailto:help@fangirlfootball.com" style="color:white">Contact Us</a></br>
                                    <a href="#" class="termly-display-preferences" style="color:white;">Consent Preferences</a>
                                    <a href="~/PrivacyPolicy.html" target="_blank" style="color:white;">Privacy Policy</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-6">
                        <div class="footer__widget footer__pl-70 mb-50">
                            <div class="footer__widget-head mb-22">
                                <h3 class="footer__widget-title">Subscribe</h3>
                            </div>
                            <div class="footer__widget-body">
                                <div class="footer__subscribe">
                                    <div id="mc_embed_shell">

                                        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

                                        <div id="mc_embed_signup">
                                            <form action="https://footballfangirl.us22.list-manage.com/subscribe/post?u=769dd96d7de3ee73d6c778a42&amp;id=611a4cdc6f&amp;f_id=003adbe1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                                                <div id="mc_embed_signup_scroll">
                                                    <div class="indicates-required" style="color: #ffffff;"><span class="asterisk">*</span> indicates required</div>
                                                    <div class="mc-field-group" style="color: #FFFFFF;"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group" style="color: #FFFFFF;"><label for="mce-FNAME">First Name <span class="asterisk">*</span></label><input type="text" name="FNAME" class="required text" id="mce-FNAME" required="" value=""></div>
                                                    <div id="mce-responses" class="clear foot">
                                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                                    </div>
                                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                                        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                                        <input type="text" name="b_769dd96d7de3ee73d6c778a42_611a4cdc6f" tabindex="-1" value="">
                                                    </div>
                                                    <div class="optionalParent">
                                                        <div class="clear foot">
                                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="e-btn" value="Subscribe">

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>


                                    </div>

                                    <p style="color: white;">Get the latest news and updates right at your inbox.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="footer__copyright text-center">
                            <p>© 2026 Sports Fan Girl, All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>